@model EmployeeDetails.Models.Employee

@{
    ViewData["Title"] = "Create";
}

@if(Model.EmpId == 0)
{
    <h1>Create</h1>
}
else
{
    <h1>Edit</h1>
}

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <input asp-for="EmpId" value="@Model.EmpId" class="form-control" hidden />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phonenumber" class="control-label">Phone Number</label>
                <input asp-for="Phonenumber" class="form-control" />
                <span asp-validation-for="Phonenumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label">Salary</label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group submit">
                @if (Model.EmpId == 0)
                {
                    <input type="submit" value="Create" class="btn btn-primary" />  <a href="@Url.Action("Index", "Employee")" class="btn btn-dark">Back</a>
                }
                else
                {
                    <input type="submit" value="Update" class="btn btn-primary" />  <a href="@Url.Action("Index", "Employee")" class="btn btn-dark">Back</a>
                }
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
